@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

body {
  background-color: #101b27;
  color: #E5F3FD;
}

header {
  background-color: #1b2837;
  font-family: "Original Surfer", serif;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px ;
  line-height: 1.1;
}

header img {
  width: 30px;
  border-radius: 50%;
  object-fit: contain;
}

header .player-info {
  display: flex;
  gap: 7px;
}

header .player-name, .display-picture {
  font-size: clamp(.8rem, 2.3vw, 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .player-name p {
  color: #BDD5E7;
  font-size: clamp(.5rem, 1.5vw, 0.6rem);
  padding: 0 1px;
}

header .score-container {
  font-size: clamp(1rem, 5vw, 1.6rem);
  font-weight: bold;
  text-align: center;
  flex-grow: 1; 
}

main {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tic-tac-toe-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80vmin; 
  height: 80vmin; 
}


.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

.cell[data-index="3"], 
.cell[data-index="4"], 
.cell[data-index="5"] {
  border-left: 3px solid #6b7885;
  border-right: 3px solid #6b7885;
}

.cell[data-index="1"], 
.cell[data-index="4"], 
.cell[data-index="7"] {
  border-top: 3px solid #6b7885;
  border-bottom: 3px solid #6b7885;
}

footer {
  color: #BDD5E7;
  text-align: center;
  font-size: .6rem;
}
