@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

body {
  height: 100%;
  background-color: #101b27;
  color: #E5F3FD;
  display: flex;
  flex-direction: column;
}

/* Header  */
header {
  background-color: #1b2837;
  font-family: "Original Surfer", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px ;
  line-height: 1.1;
}

header img {
  width: 60px;
  border-radius: 50%;
  object-fit: contain;
}

header .player-info {
  display: flex;
  gap: 10px;
}

header .player-name, .display-picture {
  font-size: clamp(.8rem, 2.3vw, 1.8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .player-name p {
  color: #BDD5E7;
  font-size: clamp(.5rem, 1.5vw, 0.8rem);
  padding: 0 1px;
}

header .score-container {
  font-size: clamp(1rem, 5vw, 2.5rem);
  font-weight: bold;
  text-align: center;
  flex-grow: 1; 
}

/* Main  */
main {
  /* height: calc(100vh - 100px); */
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.tic-tac-toe-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 70vmin; 
  height: 70vmin; 
}


.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  min-height: 90%;
  font-family: "Original Surfer", serif;;
  font-size: clamp(1rem, 5vw, 2.5rem);
  font-weight: bold;
}

.cell[data-index="3"], 
.cell[data-index="4"], 
.cell[data-index="5"] {
  border-left: 3px solid #6b7885;
  border-right: 3px solid #6b7885;
}

.cell[data-index="1"], 
.cell[data-index="4"], 
.cell[data-index="7"] {
  border-top: 3px solid #6b7885;
  border-bottom: 3px solid #6b7885;
}

/* Footer  */
footer {
  color: #3bb5b2;
  text-align: center;
  font-size: 1rem;
}


/* Responsiveness */
@media (max-width: 480px) {
  header {
    padding: 15px 20px;
  }

  header img {
    width: 45px;
  }

  header .player-name {
    font-size: 1rem;
  }

  header .player-name p {
    font-size: .6rem;
  }

  header .score-container {
    font-size: 1.2rem;
  }

  main {
    height: calc(100vh - 100px);
  }

  .tic-tac-toe-grid {
    width: 90vmin;
    height: 90vmin;
  }
}